#root {
    /* max-width: 1280px; */
    margin: 0 auto;
    /* padding: 2rem; */
    text-align: center;
    color: black;
    font-family:  "Kodchasan", sans-serif;
    font-optical-sizing: auto;
}

/* HEADERS */

h1 {
  height: 6rem;
}

.primary-bar {
  height: 7rem;
}

.mobile-header {
  padding-right: 7rem;
}

/* NAVIGATION */

.nav-link {
  margin-top: 5%;
  margin-bottom: 5%;
  font-family:  "Kodchasan", sans-serif;
  font-weight: 600;
  color: black !important;
}
  
.nav-link:hover {
  background-color: white;
}

/* PILL BUTTONS */
.pill-button {
  /* min-width: 16rem;
  max-width: 20rem; */
  /* z-index: 2; */
  height: 6rem;
}

.form-container{
padding: 300px;
margin-top: 50px;
}
.z-1{
  z-index: 1 !important;
  padding: 50px;
}